[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
django-environ = "*"
django-compressor = "*"
django-libsass = "*"
djangorestframework = "*"
psycopg2-binary = "*"
uvicorn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
