{% extends 'layout.html' %}
{% block title %}Eliminator Categories{% endblock title %}
{% block content %}
<main>
    <h1>Half Acre Cycling</h1>
    <h3>{{category_datum.year}} {{ category_datum.title }} -- {{category_datum.athlete_count}} participants</h3>
    {% for athlete in athlete_data %}
        <div class="rider unexpanded expandable">
            <div class="header">{{athlete.bib_number}} - {{athlete.name}}</div>
            <div class="detail">
                <small>Update Details Here</small>
                <p><a href="/admin/eliminator/athlete/{{ athlete.id }}/change/">{{athlete.name}}</a></p>
                <small>USAC Number</small>
                <p>{{athlete.usac_number}}</p>
                <small>Team</small>
                <p>{{athlete.team}}</p>
                <small>Category</small>
                <p>{{athlete.rider_category}}</p>
            </div>
        </div>
    {% endfor %}
    <h3>Rounds:</h3>
    <ul class="category_list">
        {% for round in round_data %}
            <li><a href="/categories/{{ category_datum.id }}/round/{{ round.id }}">{{ category_datum.title }} {{ round.title }} Round</a></li>
        {% endfor %}
    </ul>
    <br><br><br>
    <a href="/generate_elim/{{ category_datum.id }}">Generate First Elimination</a><br>
    <a href="/generate_second_elim/{{ category_datum.id }}">Generate Second Elimination</a><br>
    <a href="/generate_comeback/{{ category_datum.id }}">Generate Comeback</a><br>
    <a href="/generate_final/{{ category_datum.id }}/16">Generate Final (16)</a><br>
    <a href="/generate_final/{{ category_datum.id }}/32">Generate Final (32)</a><br>
    <a href="/generate_petit/{{ category_datum.id }}/16">Generate Petit Final (16)</a><br>
    <a href="/generate_petit/{{ category_datum.id }}/32">Generate Petit Final (32)</a>
</main>
{% endblock %}