{% extends 'layout.html' %}
{% block title %}Eliminator Races{% endblock title %}
{% block content %}
<main class="scoring">
    <h3>{{ category.title }} {{round.title}} {{ race.title }}</h3>
    
    <div class="button-container">
        <a href="/categories/{{category.id}}/round/{{round.id}}" class="half">Back to Round</a>
        <a href="/categories/{{category.id}}/round/{{round.id}}/race/{{race.id}}" class="half">Back to Summary</a>
        <p class="button">Submit Scores</p>
    </div>
    <div class="scoring-container">
        <div>
            <!-- placed results -->
            <h6>Placing Results</h6>
            <div class="sort-zone" id="placing_results">
                {% for race_result in race_results|dictsort:'place' %}
                {% if race_result.is_placing %}
                    <div class="rider" draggable="true">
                        <div class="header">{{race_result.athlete.bib_number}} - {{race_result.athlete.name}}</div>
                    </div>
                {% endif %}
                {% endfor %}
            </div></div>
        <div>
            <!-- unplaced results -->
            <h6>Unplaced Results</h6>
            <!-- <ul class="race-list"> -->
            <div class="sort-zone" id="unplaced_riders">
                {% for race_result in race_results|dictsort:'place' %}
                {% if race_result.place == '' %}
                    <div class="rider" draggable="true">
                        <div class="header">{{race_result.athlete.bib_number}} - {{race_result.athlete.name}}</div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- DNS -->
            <h6>Did Not Start</h6>
            <div class="sort-zone" id="dns_riders">
                {% for race_result in race_results %}
                {% if race_result.place == 'dns' %}
                    <div class="rider" draggable="true">
                        <div class="header">{{race_result.athlete.bib_number}} - {{race_result.athlete.name}}</div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- DNF -->
            <h6>Did Not Finish</h6>
            <div class="sort-zone" id="dnf_riders">
                {% for race_result in race_results %}
                {% if race_result.place == 'dnf' %}
                    <div class="rider" draggable="true">
                        <div class="header">{{race_result.athlete.bib_number}} - {{race_result.athlete.name}}</div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- DQ -->
            <h6>Did Not Place</h6>
            <div class="sort-zone" id="dnp_riders">
                {% for race_result in race_results %}
                {% if race_result.place == 'dnp' %}
                    <div class="rider" draggable="true">
                        <div class="header">{{race_result.athlete.bib_number}} - {{race_result.athlete.name}}</div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}