{% extends 'layout.html' %}
{% block title %}Eliminator Races{% endblock title %}
{% block content %}
<style>
    .race_list li {
        margin: 1em 0;
    }
</style>
<main>
    <h1>Half Acre Cycling</h1>
    <h3>{{ category.title }} {{round.title}} {{ race.title }}</h3>
    <a href="/categories/{{category.id}}/round/{{round.id}}">Back to Round</a>
    <a href="/categories/{{category.id}}/round/{{round.id}}/race/{{race.id}}/scoring">Enter Scoring</a>
    <a href="/categories/{{category.id}}/round/{{round.id}}/race/{{race.id}}/demo">Drag/Drop</a>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="time" id="time" value="{{race.time}}">
        <input type="hidden" name="id" id="id" value="{{race.id}}">
        <input type="submit" value="Update Time">
    </form>
    <ul class="race_list">
        {% for athlete in race.athletes %}
        <li>
            <strong>Bib {{athlete.bib_number}}</strong><span> -- {{athlete.name}}{% if athlete.team %}, {{athlete.team}} {% endif %}</span><strong>Place: ______________</strong>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}