{% extends 'layout.html' %}
{% block title %}Upload a New Category{% endblock title %}
{% block content %}
<main>
    <h1>Upload a new Category</h1>
    {% load static %}
    <script src="{% static 'eliminator/category_upload.js' %}"></script>
    <form class="button-container" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_category_name">Category Name:</label>
        <input type="text" name="category_name" maxlength="50" required id="id_category_name">
        <div class="file-dropzone">
            <div>Add a CSV for the new Category</div>
            <span>&times;</span>
            <input type="file" name="file" id="id_file">
        </div>
        <!-- TODO style input[type=submit] -->
        <input type="submit" value="Create a new Category" class="button"> 
    </form>
</main>
{% endblock %}